<h1 class="mb-3 mb-md-4">{{ .Site.Params.Heading.Title | markdownify }}</h1>
<h3 class="animated animated-fade-in has-delay-1 mb-4 mb-md-5">
    <a class="mr-2" href="{{ .Site.Params.Heading.link_url1 }}">{{ .Site.Params.Heading.link_title1 }}</a>
    <a class="mr-2" href="{{ .Site.Params.Heading.link_url2 }}">{{ .Site.Params.Heading.link_title2 }}</a>
    <a class="mr-2" href="{{ .Site.Params.Heading.link_url3 }}">{{ .Site.Params.Heading.link_title3 }}</a>
    <a href="mailto:{{ .Site.Params.Heading.Email }}">Email</a>
</h3>