<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta name="description" content="Aaron Shapiro is a designer living in Brooklyn, New York.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <title>Info - Aaron Shapiro</title>

    <link rel="shortcut icon" href="http://aaron.mn/assets/icons/favicon.ico">
    <link rel="apple-touch-icon" href="http://aaron.mn/assets/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://aaron.mn/assets/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://aaron.mn/assets/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://aaron.mn/assets/icons/apple-touch-icon-152x152.png">

    <link rel="stylesheet" href="Info%20-%20Aaron%20Shapiro_files/core.css">

    <script async="" src="Info%20-%20Aaron%20Shapiro_files/analytics.js"></script><script src="Info%20-%20Aaron%20Shapiro_files/jquery.js"></script>
    <script src="Info%20-%20Aaron%20Shapiro_files/core.js"></script>

    <script src="Info%20-%20Aaron%20Shapiro_files/yxw1mxv.asc"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-22793959-1', 'aaron.mn');
        ga('send', 'pageview');
    </script>

</head>

<body>

<a class="logo" href="http://aaron.mn/"></a>

<div class="container">

    <div class="mb-3 mb-md-4 mb-lg-5">
        <h4 class="mt-0 mb-3"><a href="http://aaron.mn/">← Aaron Shapiro</a></h4>
        <h1 class="m-0">Info</h1>
    </div>

    <div class="mb-3 mb-md-4 mb-lg-5">

        <img class="fit-width" src="Info%20-%20Aaron%20Shapiro_files/info.jpg">

        <p class="text-smaller">Photo by <a href="http://jeremyperezcruz.com/">Jeremy Perez-Cruz</a></p>

    </div>

    <div class="clearfix">

        <div class="float-left-md column-12 column-md-6 column-lg-5 pr-md-3 mb-3 mb-md-0">

            <h3 class="mt-2">Aaron Shapiro is a product designer working at <a href="http://vice.com/">VICE</a> in Brooklyn, New&nbsp;York.</h3>

            <p class="hide-sm"><span class="text-smaller">E:</span> <a href="mailto:aaron@aaron.mn">aaron@aaron.mn</a></p>

        </div>

        <div class="float-left-md column-12 column-md-6 column-lg-7 pl-md-3">

            <p>Nice to meet you.</p>

            <p>Most recently, I worked alongside <a href="http://twitter.com/alandickinson">Alan Dickinson</a> to make Internet access affordable and accessible at <a href="http://aaron.mn/karma/">Karma</a> – a company offering a simple wireless hotspot controlled through its mobile apps and&nbsp;website.</p>

            <p>Before Karma, <a href="http://twitter.com/kimbost">Kim Bost</a> and I rebranded and redesigned <a href="http://aaron.mn/cover/">Cover</a> – an iOS app for making dining out easier.</p>

            <p>I spent two years as a staff product designer at <a href="http://aaron.mn/etsy/">Etsy</a>. I helped redesign its web-based seller tools and led an effort to replace aging CSS with a living style&nbsp;guide.</p>

            <p>I've also worked for <a href="http://hugeinc.com/">Huge</a>'s product design team on projects for HBO, American Express, OkCupid, Newsweek, and&nbsp;Twitter.</p>

            <p>Aside from work, I love to take photos around <a href="http://instagram.com/aaronshapiro">New York City</a> and <a href="http://aaron.mn/iceland/">abroad</a>,
                shake a healthy number of classic daiquiris, and continue to wait
                patiently for a successful Minnesota Timberwolves season. Good
                inspiration comes from experience. I try to stand often and spend time
                away from my desk. It&nbsp;helps.</p>

        </div>

    </div>

    <div class="clearfix mt-3 mt-md-4 mt-lg-5">

        <hr class="mb-3">

        <div class="float-left-md">
            <h4><a href="http://aaron.mn/">← Aaron Shapiro</a></h4>
        </div>

        <div class="float-right-md">
            <p>
                <a class="mr-2" href="http://twitter.com/aaronshapiro">Twitter</a>
                <a class="mr-2" href="http://instagram.com/aaronshapiro">Instagram</a>
                <a href="mailto:aaron@aaron.mn">Email</a>
            </p>
        </div>

    </div>

</div>




</body></html>